@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: "paint_drops";
    src: url("../fonts/paint_drops.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Gordita Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra'), url('../fonts/GorditaUltra.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: #282828;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
@media screen and (max-width: 1000px) and (min-width: 701px) {
    main {
        margin-left: 80px;
    }
}

/* HEADER ET MENU */

.navigation {
    position: fixed;
    inset: 20px;
    background: #484848;
    width: 80px;
    height: 95vh;
    border-left: 10px solid #484848;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
    transition: 0.5s ;
}
.navigation.active {
    width: 300px;
    border-radius: 20px;
    z-index: 1;
}
.toogle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10 !important;
}
.toogle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #4256AE;
    transform: translateY(-5px);
    transition: 1s;
}
.toogle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #4256AE;
    transform: translateY(5px);
    transition: 1s;
}
#navigation.active .toogle::before {
    transform: translateY(0px) rotate(-405deg);
}
#navigation.active .toogle::after {
    transform: translateY(0px) rotate(225deg);
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover {
    background: #4256AE;
}
.navigation ul li:nth-child(1) {
    top: 20px;
    margin-bottom: 40px;
    background: none;
}
.navigation ul li:not(:first-child):hover::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 8px 0 #4256AE;
}
.navigation ul li:not(:first-child):hover::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 3px -8px 0 #4256AE;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}
.navigation ul li:hover:not(:first-child) a {
    color: #ffffff;
}
.navigation ul li a .nav-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .nav-icon ion-icon {
    font-size: 1.75em;
}
.navigation ul li a .nav-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
}

@media screen and (max-width: 700px) {
    .navigation {
        display: none;
    }
    .navigationtel {
        display: block;
    }
}
@media screen and (min-width: 701px) {
    .navigation {
        display: block;
    }
    .navigationtel {
        display: none;
    }
}

.navigationtel ul {
    display: none;
}
.navigationtel.active ul {
    display: block;
}
.navigationtel.active {
    position: fixed;
    inset: 20px;
    background: #484848;
    width: 250px;
    height: 95vh;
    border-left: 10px solid #484848;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
    transition: 0.5s ;
}
.toogletel {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: #4256AE;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.toogletel::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFA500;
    transform: translateY(-5px);
    transition: 1s;
}
.toogletel::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFA500;
    transform: translateY(5px);
    transition: 1s;
}
#navigationtel.active .toogletel::before {
    transform: translateY(0px) rotate(-405deg);
}
#navigationtel.active .toogletel::after {
    transform: translateY(0px) rotate(225deg) !important;
}
.navigationtel.active ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.navigationtel.active ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /*background: #4256AE;*/
}
.navigationtel.active ul li:hover {
    background: #4256AE;
}
.navigationtel.active ul li:nth-child(1) {
    top: 100px;
    margin-bottom: 120px;
    background: none;
}
.navigationtel.active ul li:not(:first-child):hover::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 7.5px #4256AE;
}
.navigationtel.active ul li:not(:first-child):hover::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 7.5px #fff;
}
.navigationtel.active ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigationtel.active ul li:hover:not(:first-child) a {
    color: #282828;
}
.navigationtel.active ul li a .nav-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigationtel.active ul li a .nav-icon ion-icon {
    font-size: 1.75em;
}
.navigationtel.active ul li a .nav-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
}

/* SECTION ACCUEIL */

.accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0 160px;
}
.accueil img {
    width: 400px;
}
.accueil h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 250px;
}